In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('warfarin.csv')

In [3]:
dataset.head()

,PharmGKB Subject ID,Gender,Race,Ethnicity,Age,Height (cm),Weight (kg),Indication for Warfarin Treatment,Comorbidities,Diabetes,...,VKORC1 -1639 consensus,VKORC1 497 consensus,VKORC1 1173 consensus,VKORC1 1542 consensus,VKORC1 3730 consensus,VKORC1 2255 consensus,VKORC1 -4451 consensus,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,PA135312261,male,White,not Hispanic or Latino,60 - 69,193.04,115.7,7,No Cancer,NaN,...,A/G,G/T,NaN,C/G,A/G,NaN,NaN,NaN,NaN,NaN
1,PA135312262,female,White,not Hispanic or Latino,50 - 59,176.53,144.2,7,Cancer,NaN,...,A/A,G/T,T/T,C/C,G/G,T/T,C/C,NaN,NaN,NaN
2,PA135312263,female,White,not Hispanic or Latino,40 - 49,162.56,77.1,7,No Cancer,NaN,...,G/G,T/T,NaN,G/G,A/G,NaN,NaN,NaN,NaN,NaN
3,PA135312264,male,White,not Hispanic or Latino,60 - 69,182.24,90.7,7,No Cancer,NaN,...,A/G,G/T,NaN,C/G,G/G,NaN,NaN,NaN,NaN,NaN
4,PA135312265,male,White,not Hispanic or Latino,50 - 59,167.64,72.6,7,No Cancer,NaN,...,A/G,T/T,NaN,C/G,A/G,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5701 entries, 0 to 5700
Data columns (total 66 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   PharmGKB Subject ID                                                   5700 non-null   object
 1   Gender                                                                5696 non-null   object
 2   Race                                                                  5700 non-null   object
 3   Ethnicity                                                             5700 non-null   object
 4   Age                                                                   5658 non-null   object
 5   Height (cm)                                                           4554 non-null   float64
 6   Weight (kg)                                                           5413 non-null   float64
 7   Indication for Warfarin Treatment                                     5002 non-null   object
 8   Comorbidities                                                         3745 non-null   object
 9   Diabetes                                                              3283 non-null   float64
 10  Congestive Heart Failure and/or Cardiomyopathy                        4012 non-null   float64
 11  Valve Replacement                                                     3958 non-null   float64
 12  Medications                                                           4303 non-null   object
 13  Aspirin                                                               3840 non-null   float64
 14  Acetaminophen or Paracetamol (Tylenol)                                2274 non-null   float64
 15  Was Dose of Acetaminophen or Paracetamol (Tylenol) >1300mg/day        1159 non-null   float64
 16  Simvastatin (Zocor)                                                   3861 non-null   float64
 17  Atorvastatin (Lipitor)                                                2455 non-null   float64
 18  Fluvastatin (Lescol)                                                  2423 non-null   float64
 19  Lovastatin (Mevacor)                                                  2431 non-null   float64
 20  Pravastatin (Pravachol)                                               2433 non-null   float64
 21  Rosuvastatin (Crestor)                                                2424 non-null   float64
 22  Cerivastatin (Baycol)                                                 2136 non-null   float64
 23  Amiodarone (Cordarone)                                                4182 non-null   float64
 24  Carbamazepine (Tegretol)                                              2430 non-null   float64
 25  Phenytoin (Dilantin)                                                  2424 non-null   float64
 26  Rifampin or Rifampicin                                                2423 non-null   float64
 27  Sulfonamide Antibiotics                                               2422 non-null   float64
 28  Macrolide Antibiotics                                                 2423 non-null   float64
 29  Anti-fungal Azoles                                                    2426 non-null   float64
 30  Herbal Medications, Vitamins, Supplements                             1908 non-null   float64
 31  Target INR                                                            1259 non-null   float64
 32  Estimated Target INR Range Based on Indication                        3818 non-null   object
 33  Subject Reached Stable Dose of Warfarin                               5651 non-null   float64
 34  Therapeutic Dose of Warfarin                                          5528 non-null   float64
 35  INR on Reported Therapeutic Dose of Warfarin                          4968 non-null   float64
 36  Current Smoker                                                        3220 non-null   float64
 37  Cyp2C9 genotypes                                                      5567 non-null   object
 38  Genotyped QC Cyp2C9*2                                                 478 non-null    object
 39  Genotyped QC Cyp2C9*3                                                 478 non-null    object
 40  Combined QC CYP2C9                                                    478 non-null    object
 41  VKORC1 genotype: -1639 G>A (3673); chr16:31015190; rs9923231; C/T     4046 non-null   object
 42  VKORC1 QC genotype: -1639 G>A (3673); chr16:31015190; rs9923231; C/T  478 non-null    object
 43  VKORC1 genotype: 497T>G (5808); chr16:31013055; rs2884737; A/C        1599 non-null   object
 44  VKORC1 QC genotype: 497T>G (5808); chr16:31013055; rs2884737; A/C     478 non-null    object
 45  VKORC1 genotype: 1173 C>T(6484); chr16:31012379; rs9934438; A/G       3363 non-null   object
 46  VKORC1 QC genotype: 1173 C>T(6484); chr16:31012379; rs9934438; A/G    478 non-null    object
 47  VKORC1 genotype: 1542G>C (6853); chr16:31012010; rs8050894; C/G       3330 non-null   object
 48  VKORC1 QC genotype: 1542G>C (6853); chr16:31012010; rs8050894; C/G    478 non-null    object
 49  VKORC1 genotype: 3730 G>A (9041); chr16:31009822; rs7294;  A/G        3124 non-null   object
 50  VKORC1 QC genotype: 3730 G>A (9041); chr16:31009822; rs7294;  A/G     478 non-null    object
 51  VKORC1 genotype: 2255C>T (7566); chr16:31011297; rs2359612; A/G       2223 non-null   object
 52  VKORC1 QC genotype: 2255C>T (7566); chr16:31011297; rs2359612; A/G    478 non-null    object
 53  VKORC1 genotype: -4451 C>A (861); Chr16:31018002; rs17880887; A/C     540 non-null    object
 54  VKORC1 QC genotype: -4451 C>A (861); Chr16:31018002; rs17880887; A/C  451 non-null    object
 55  CYP2C9 consensus                                                      5556 non-null   object
 56  VKORC1 -1639 consensus                                                4201 non-null   object
 57  VKORC1 497 consensus                                                  1883 non-null   object
 58  VKORC1 1173 consensus                                                 3591 non-null   object
 59  VKORC1 1542 consensus                                                 3521 non-null   object
 60  VKORC1 3730 consensus                                                 3344 non-null   object
 61  VKORC1 2255 consensus                                                 2536 non-null   object
 62  VKORC1 -4451 consensus                                                912 non-null    object
 63  Unnamed: 63                                                           0 non-null      float64
 64  Unnamed: 64                                                           0 non-null      float64
 65  Unnamed: 65                                                           0 non-null      float64
dtypes: float64(31), object(35)
memory usage: 2.9+ MB

In [5]:
dataset.drop(['Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65'], axis=1, inplace=True)

In [6]:
dataset['Race'].value_counts(dropna=False)

White                        3122
Asian                        1634
Unknown                       482
Black or African American     462
NaN                             1
Name: Race, dtype: int64

In [7]:
dataset['VKORC1 genotype: -1639 G>A (3673); chr16:31015190; rs9923231; C/T'].value_counts(dropna=False)

NaN    1655
A/A    1456
A/G    1426
G/G    1164
Name: VKORC1 genotype: -1639 G>A (3673); chr16:31015190; rs9923231; C/T, dtype: int64

In [8]:
print(dataset['VKORC1 -1639 consensus'].value_counts(dropna=False))
print(dataset['VKORC1 -1639 consensus'].isna().sum())

NaN    1500
A/A    1485
A/G    1470
G/G    1246
Name: VKORC1 -1639 consensus, dtype: int64
1500

In [9]:
dataset.loc[((dataset['VKORC1 -1639 consensus'].isna()) 
             & ((dataset['Race'] != 'Black or African American') | dataset['Race'] != 'Unknown') 
             & (dataset['VKORC1 2255 consensus'] == 'C/C')), 'VKORC1 -1639 consensus'] = 'G/G'

dataset.loc[((dataset['VKORC1 -1639 consensus'].isna()) 
             & ((dataset['Race'] != 'Black or African American') | dataset['Race'] != 'Unknown') 
             & (dataset['VKORC1 2255 consensus'] == 'T/T')), 'VKORC1 -1639 consensus'] = 'A/A'

dataset.loc[((dataset['VKORC1 -1639 consensus'].isna()) 
             & ((dataset['Race'] != 'Black or African American') | dataset['Race'] != 'Unknown') 
             & (dataset['VKORC1 2255 consensus'] == 'C/T')), 'VKORC1 -1639 consensus'] = 'A/G'

dataset.loc[((dataset['VKORC1 -1639 consensus'].isna()) 
             & (dataset['VKORC1 1173 consensus'] == 'C/C')), 'VKORC1 -1639 consensus'] = 'G/G'

dataset.loc[((dataset['VKORC1 -1639 consensus'].isna())
             & (dataset['VKORC1 1173 consensus'] == 'T/T')), 'VKORC1 -1639 consensus'] = 'A/A'

dataset.loc[((dataset['VKORC1 -1639 consensus'].isna())
            & (dataset['VKORC1 1173 consensus'] == 'C/T')), 'VKORC1 -1639 consensus'] = 'A/G'

dataset.loc[((dataset['VKORC1 -1639 consensus'].isna()) 
             & ((dataset['Race'] != 'Black or African American') | dataset['Race'] != 'Unknown') 
             & (dataset['VKORC1 1542 consensus'] == 'G/G')), 'VKORC1 -1639 consensus'] = 'G/G'

dataset.loc[((dataset['VKORC1 -1639 consensus'].isna()) 
             & ((dataset['Race'] != 'Black or African American') | dataset['Race'] != 'Unknown') 
             & (dataset['VKORC1 1542 consensus'] == 'C/C')), 'VKORC1 -1639 consensus'] = 'A/A'

dataset.loc[((dataset['VKORC1 -1639 consensus'].isna()) 
             & ((dataset['Race'] != 'Black or African American') | dataset['Race'] != 'Unknown') 
             & (dataset['VKORC1 1542 consensus'] == 'C/G')), 'VKORC1 -1639 consensus'] = 'A/G'

In [10]:
print(dataset['VKORC1 -1639 consensus'].value_counts(dropna=False))

A/G    2078
A/A    1782
G/G    1759
NaN      82
Name: VKORC1 -1639 consensus, dtype: int64

In [11]:
dataset['Age'].value_counts(dropna=False)

70 - 79    1570
60 - 69    1384
50 - 59    1085
80 - 89     670
40 - 49     540
30 - 39     230
20 - 29     130
NaN          43
90+          35
10 - 19      14
Name: Age, dtype: int64

In [12]:
dataset['Age'] = dataset['Age'].map({'10 - 19': 1, '20 - 29': 2, '30 - 39': 3, '40 - 49': 4, '50 - 59': 5, '60 - 69': 6, '70 - 79': 7, '80 - 89': 8, '90 - 99': 9, '90+': 10})

In [13]:
dataset['Age'].value_counts(dropna=False)

7.0     1570
6.0     1384
5.0     1085
8.0      670
4.0      540
3.0      230
2.0      130
NaN       43
10.0      35
1.0       14
Name: Age, dtype: int64

In [14]:
dataset['Enzyme_inducer'] = dataset.apply(lambda row: 1 if (row['Carbamazepine (Tegretol)'] == 1 or row['Phenytoin (Dilantin)'] == 1 or row['Rifampin or Rifampicin'] == 1) else 0, axis=1)

In [15]:
columnsToDrop = ['PharmGKB Subject ID', 'Cyp2C9 genotypes', 'Genotyped QC Cyp2C9*2', 'Genotyped QC Cyp2C9*3',
       'Combined QC CYP2C9',
       'VKORC1 genotype: -1639 G>A (3673); chr16:31015190; rs9923231; C/T',
       'VKORC1 QC genotype: -1639 G>A (3673); chr16:31015190; rs9923231; C/T',
       'VKORC1 genotype: 497T>G (5808); chr16:31013055; rs2884737; A/C',
       'VKORC1 QC genotype: 497T>G (5808); chr16:31013055; rs2884737; A/C',
       'VKORC1 genotype: 1173 C>T(6484); chr16:31012379; rs9934438; A/G',
       'VKORC1 QC genotype: 1173 C>T(6484); chr16:31012379; rs9934438; A/G',
       'VKORC1 genotype: 1542G>C (6853); chr16:31012010; rs8050894; C/G',
       'VKORC1 QC genotype: 1542G>C (6853); chr16:31012010; rs8050894; C/G',
       'VKORC1 genotype: 3730 G>A (9041); chr16:31009822; rs7294;  A/G',
       'VKORC1 QC genotype: 3730 G>A (9041); chr16:31009822; rs7294;  A/G',
       'VKORC1 genotype: 2255C>T (7566); chr16:31011297; rs2359612; A/G',
       'VKORC1 QC genotype: 2255C>T (7566); chr16:31011297; rs2359612; A/G',
       'VKORC1 genotype: -4451 C>A (861); Chr16:31018002; rs17880887; A/C',
       'VKORC1 QC genotype: -4451 C>A (861); Chr16:31018002; rs17880887; A/C',
    'Medications', 'Aspirin', 'Acetaminophen or Paracetamol (Tylenol)',
       'Was Dose of Acetaminophen or Paracetamol (Tylenol) >1300mg/day',
       'Simvastatin (Zocor)', 'Atorvastatin (Lipitor)', 'Fluvastatin (Lescol)',
       'Lovastatin (Mevacor)', 'Pravastatin (Pravachol)',
       'Rosuvastatin (Crestor)', 'Cerivastatin (Baycol)', 
       'Carbamazepine (Tegretol)',
       'Phenytoin (Dilantin)', 'Rifampin or Rifampicin',
       'Sulfonamide Antibiotics', 'Macrolide Antibiotics',
       'Anti-fungal Azoles', 'Herbal Medications, Vitamins, Supplements',
       'Ethnicity', 'Indication for Warfarin Treatment', 'Comorbidities',
       'Gender', 'Valve Replacement', 'Congestive Heart Failure and/or Cardiomyopathy',
       'Diabetes', 'Target INR', 'Estimated Target INR Range Based on Indication',
       'Subject Reached Stable Dose of Warfarin', 'INR on Reported Therapeutic Dose of Warfarin',
       'Current Smoker'
       ]

In [16]:
dataset.drop(columnsToDrop, axis=1, inplace=True)

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5701 entries, 0 to 5700
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Race                          5700 non-null   object
 1   Age                           5658 non-null   float64
 2   Height (cm)                   4554 non-null   float64
 3   Weight (kg)                   5413 non-null   float64
 4   Amiodarone (Cordarone)        4182 non-null   float64
 5   Therapeutic Dose of Warfarin  5528 non-null   float64
 6   CYP2C9 consensus              5556 non-null   object
 7   VKORC1 -1639 consensus        5619 non-null   object
 8   VKORC1 497 consensus          1883 non-null   object
 9   VKORC1 1173 consensus         3591 non-null   object
 10  VKORC1 1542 consensus         3521 non-null   object
 11  VKORC1 3730 consensus         3344 non-null   object
 12  VKORC1 2255 consensus         2536 non-null   object
 13  VKORC1 -4451 consensus        912 non-null    object
 14  Enzyme_inducer                5701 non-null   int64
dtypes: float64(5), int64(1), object(9)
memory usage: 668.2+ KB

In [18]:
dataset.dropna(subset='Therapeutic Dose of Warfarin', inplace=True, axis=0)

In [19]:
dataset['Therapeutic Dose of Warfarin'].isna().sum()

0

In [20]:
dataset['Enzyme_inducer'].value_counts(dropna=False)

0    5474
1      54
Name: Enzyme_inducer, dtype: int64

In [21]:
new_data = pd.get_dummies(dataset)

In [22]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(new_data, test_size=0.2, random_state=42)

In [23]:
train_data.to_csv('train.csv', index=False)
test_data.to_csv('test.csv', index=False)